*.log
*.lyrdb
__pycache__/
build.log
final/
generated_defines.svh
gf180_drc.lyrdb
gf180mcu-precheck/
gf180mcu/
img/
librelane/runs/
precheck-out/
precheck.log
runs/
sim_build/
src/generated_defines.svh
